*.diff
*.patch
y.output
y.tab.h
#ac_cfg.h
src/lexer.c
src/config_gram.c
src/config_gram.h
.cvsignore
.depend
INSTALL
Makefile.in
Makefile
ac_cfg.h.in
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
compile
missing
mkinstalldirs
stamp-h.in
stamp-h1
#avrdude.conf
avrdude.conf.tmp
avrdude.spec
config.guess
config.log
config.status
config.sub
#avrdude
#avrdude.exe
*.o
*.bak
*.lo
*.db
*.session
old_*.exe
*.a
*.la
*.lai
*.*~
compile_flags.txt
*.pnps
*.bin
buf

.vs/

src/go
src/.deps/
src/.libs/
src/configure~
src/configure.lineno
src/install-sh
src/libtool
src/ltmain.sh
src/mdate.sh
src/ylwrap
src/doc/mdate-sh
src/doc/texinfo.tex
src/m4/*
src/windows/loaddrv.exe

src/external/libelf/Debug/
src/external/libelf/Release/
src/external/libftdi1/Debug/
src/external/libftdi1/Release/
src/external/libhidapi/Debug/
src/external/libhidapi/Release/
src/external/libusb/Debug/
src/external/libusb/Release/

src/windows/.deps/

debug.log
